# If, elif, and else Statements

In [1]:
if True:
    print('That is true!')

That is true!

In [2]:
x = False
if x:
    print('x was True')
else:
    print('x was not True')

x was not True

In [4]:
add = 'Bank'
if add == 'Shop':
    print('Welcome to shop')
elif add == 'Bank':
    print('Welcome to Bank')
elif add == 'Hospital':
    print('Welcome to Hospital')
else:
    print('Address not found')

Welcome to Bank

# For loops

In [5]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [6]:
for i in list1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in list1:
    if i%2 == 0:
        print(i)

2
4
6
8
10

In [8]:
list_sum = 0
for i in list1:
    list_sum += i

print(list_sum)

55

In [9]:
for letter in 'Hello everyone':
    print(letter)

H
e
l
l
o

e
v
e
r
y
o
n
e

In [10]:
t = (1,2,3,4)
for i in t:
    print(i)

1
2
3
4

In [11]:
list2 = [(3,4), (5,6), (7,8)]
for tup in list2:
    print(tup)

(3, 4)
(5, 6)
(7, 8)

In [13]:
for (t1, t2) in list2:
    print(t1)

3
5
7

In [14]:
d = {'k1': 1, 'k2':2, 'k3':3}

In [15]:
for item in d:
    print(item)

k1
k2
k3

In [16]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [18]:
for k,v in d.items():
    print(v)

1
2
3

In [20]:
list(d.keys())

['k1', 'k2', 'k3']

In [21]:
sorted(d.values())

[1, 2, 3]

# While Loops

In [23]:
x = 0
while x < 10:
    print('x is currently: ', x)
    x+=1

x is currently:  0
x is currently:  1
x is currently:  2
x is currently:  3
x is currently:  4
x is currently:  5
x is currently:  6
x is currently:  7
x is currently:  8
x is currently:  9

In [24]:
x = 0
while x<10:
    print('x is currently ',x)
    x+=1
else:
    print('Done!')

x is currently  0
x is currently  1
x is currently  2
x is currently  3
x is currently  4
x is currently  5
x is currently  6
x is currently  7
x is currently  8
x is currently  9
Done!

In [25]:
x = 0
while x < 10:
    print('x is currently ',x)
    x+=1
    if x==3:
        print('x equals to 3')
    else:
        continue

x is currently  0
x is currently  1
x is currently  2
x equals to 3
x is currently  3
x is currently  4
x is currently  5
x is currently  6
x is currently  7
x is currently  8
x is currently  9

In [26]:
x = 0
while x < 10:
    print('x is currently ',x)
    x+=1
    if x==3:
        print('x equals to 3')
        break
    else:
        continue

x is currently  0
x is currently  1
x is currently  2
x equals to 3

In [ ]:
while True:
    print('Do not run this code')

# Useful Operator

In [27]:
range(0,11)

range(0, 11)

In [28]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [30]:
list(range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [31]:
index_count = 0

for letter in 'abcde':
    print('Index {} and letter {}'.format(index_count, letter))
    index_count += 1

Index 0 and letter a
Index 1 and letter b
Index 2 and letter c
Index 3 and letter d
Index 4 and letter e

In [32]:
for i,letter in enumerate('abcde'):
    print('Index {} and Number {}'.format(i, letter))

Index 0 and Number a
Index 1 and Number b
Index 2 and Number c
Index 3 and Number d
Index 4 and Number e

In [33]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [36]:
list1 = ['1','2','3','4','5']
list2 = ['a','b','c','d','e']
zip(list1, list2)

In [37]:
list(zip(list1, list2))

[('1', 'a'), ('2', 'b'), ('3', 'c'), ('4', 'd'), ('5', 'e')]

In [38]:
for item1, item2 in zip(list1, list2):
    print('Number {} and Letter {}'.format(item1, item2))

Number 1 and Letter a
Number 2 and Letter b
Number 3 and Letter c
Number 4 and Letter d
Number 5 and Letter e

In [40]:
'x' in ['x','y','z']

True

In [41]:
'x' in [1,2,3]

False

In [42]:
'x' not in ['x', 'y','z']

False

In [43]:
'x' not in [1,2,3]

True

In [44]:
my_list = [10,20,30,40]

In [45]:
min(my_list)

10

In [46]:
max(my_list)

40

In [47]:
from random import shuffle

In [48]:
shuffle(my_list)

In [49]:
my_list

[30, 20, 10, 40]

In [50]:
from random import randint

In [51]:
randint(0,100)

15

In [52]:
randint(0,100)

10

In [53]:
input('Enter something here: ')

Enter something here: Good Job!

'Good Job!'

# List Comprehensions

In [54]:
letters = [x for x in 'abcde']

In [55]:
letters

['a', 'b', 'c', 'd', 'e']

In [56]:
l1 = [x**2 for x in range(0,10)]

In [57]:
l1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [58]:
l2 = [x**2 for x in range(0,11) if x%2==0]

In [59]:
l2

[0, 4, 16, 36, 64, 100]

In [60]:
[x**2 for x in [x**2 for x in range(11)]]

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]